<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>



<body>
    
    <div id="app">
        <!-- Titolo Pagina -->
        <header class="todo-list-header">
            <div class="container">
                <div class="todo-list-header__title">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </header>

        <!-- Todo List -->
        <main class="todo-list-main">
            <div class="container">               
                <div class="todo-list-main__card">
                    <!-- Card Head -->
                    <div class="todo-list-main__card--head">
                        <!-- Text box per inserire le Task-->                        
                        <input 
                         class="todo-list-main__card--head__text-box" 
                         type="text" 
                         placeholder="Nuova Task..." 
                         v-model.trim="taskValue" 
                         @keyup.enter="addTask()"
                        >

                        <!-- Bottone per inserire la Task scritta nella Text-Box --> 
                        <button 
                         class="todo-list-main__card--head__button" 
                         @click="addTask()"
                        >
                            Aggiungi Task
                        </button>

                        <!-- "Pulsante" che elimina tutte le Task -->
                        <span
                         class="todo-list-main__card--head__delete-all"
                         @click="removeTask(i, todoList.length)"
                        >
                            X
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="todo-list-main__card--body">
                        <ul class="todo-list-main__card--body__list" >
                            <!-- ciclo per creare le task -->
                            <li 
                             class="todo-list-main__card--body__list__item" 
                             v-for="(object,i) in todoList"
                            >
                                <!-- Task standard create, contiene un Event che permette di sbarrare il testo -->
                                <span 
                                 class="flex-grow" 
                                 v-if="object.done === false"  
                                 @click="checkTask(i)"
                                >
                                    {{object.text}}
                                </span>
                                
                                <!-- Task create sbarrate, contiene un Event che permette di rimuovere la barra dal testo -->
                                <span 
                                 class="flex-grow" 
                                 v-else 
                                 :class="classLineThrough" 
                                 @click="checkTask(i)"
                                >
                                    {{object.text}}
                                </span>

                                <!-- Elemento che serve a rimuovere una Task -->
                                <span 
                                 class="todo-list-main__card--body__list__item--delete"
                                 @click="removeTask(i, 1)"
                                >
                                    X
                                </span>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </main>
        
    </div>






    <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>