<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>



<body>
    
    <div id="app">
        <!-- Titolo Pagina -->
        <header class="todo-list-header">
            <div class="container">
                <div class="todo-list-header__title">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </header>

        <!-- Todo List -->
        <main class="todo-list-main">
            <div class="container">               
                <div class="todo-list-main__card">
                    <div class="todo-list-main__card--head">
                        <input class="todo-list-main__card--head__text-box" type="text" placeholder="Nuova Task...">
                    </div>
                    <div class="todo-list-main__card--body">
                        <ul class="todo-list-main__card--body__list" >
                            <li 
                            class="todo-list-main__card--body__list__item" 
                            v-for="(object,i) in todoList"
                            >
                                <span class="flex-grow" v-if="object.done === false"  
                                @click="object.done === true ? object.done = false : object.done = true"
                                >
                                    {{object.text}}
                                </span>
                               
                                <span class="flex-grow" v-else 
                                :class="classLineThrough" 
                                @click="object.done === true ? object.done = false : object.done = true"
                                >
                                    {{object.text}}
                                </span>

                                <span class="todo-list-main__card--body__list__item--delete"
                                @click="removeTodo(todoList, i, 1)"
                                >
                                    X
                                </span>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </main>
        
    </div>






    <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>